<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rotatif</title>
    <link rel="stylesheet" href="/views/home/rotatif.css">
   
</head>

<body>

    <div class="view">1</div>
    <div class="view">2</div>
    <div class="view">3</div>
    <div class="view">4</div>
    <div class="view">5</div>
    <div class="view">6</div>
    <div class="view">7</div>

    <script type="module">
        import RotatifViewer from "/views/components/rotatifViewer/rotatifViewer.js";

        const rotatif = new RotatifViewer({
            views: document.querySelectorAll('.view')
        });
        
        document.body.append(rotatif.getView());

        

    </script>
</body>

</html>